/* CSS Document */
.prd-cnt br{ display:block; }
.click_popup{ cursor:pointer; }
.prd-cnt-man{ min-height:72px; }

.dtl-ic {
    background: #ec594d none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 14px;
    margin-top: 12px;
    text-align: center;
    width: 22px;
}

.sp_1{  padding-left:40%; }
.sp_2{  padding-left:46%; }
.sp_3{  padding-left:8%; }
.sp_4{  padding-left:43%; }
.sp_5{  padding-left:2%; }
.sp_6{  padding-left:58%; }
.sp_7{  padding-left:4%; }
.sp_8{  padding-left:12%; }
.sp_9{  padding-left:63%; }


.recepie_img{ text-align:center; padding-bottom:30px; width:20%; float:left; text-align:center; }
span.wpcf7-list-item { display: block; }

.short_desc {
min-height:50px;
overflow:hidden;
padding-left:7%;
}

.taj_icon{ position:absolute; left:-11px; top:-6px; }

iframe.gmap {height:450px;}

.dspTb {
text-align:right !important;
margin-right:3% !important;
}



.checkbox label .wpcf7-list-item-label
{
	background: url(../images/checkbox-uncheck.png) no-repeat 100% top;
	height: 43px;
	line-height:43px;
	padding-right:50px;
	display:inline-block;
	float:left;
}
.checkbox label input[type=checkbox] { display:none; }
input[type=checkbox]:checked + .wpcf7-list-item-label { background: url(../images/checkbox-check.png) no-repeat 100% top; }

.vercent{ margin-top:3%; }

#mapcanvas2{ height:450px !important; }
#mapcanvas2 iframe{ height:450px !important; width:100%; }

.calc-tbl td.odd {
	width:60px;
	position:inherit;
}
.calc-tbl td { min-width:90px; }

#locations #myCarousel .carousel-inner{ cursor:pointer; } 


.subprd .dspCl{ /*max-width:170px;*/ vertical-align:top; }
.subprd .chose_first, .subprd .chose_second, .subprd .chose_third, .subprd .chose_fourth{ max-width:170px; }
.show_rec_dtl{ outline:none; font-size:18px; color:#000 !important; text-decoration:none; }
.show_rec_dtl img{ outline:none; }
.show_rec_dtl:hover{ color:#B7191E !important; text-decoration:none; font-weight:bold; }
.show_rec_dtl_active{ color:#B7191E !important; font-weight:bold; }
.ntr-tblmn{ padding-top:0px !important; }

.navbar-fixed-top{ z-index:9; }
.popup_custom{ position:absolute; background:#E9DCDD; border-radius:10px; top:5%; right:5%; height:auto; z-index:999999; padding:5%; display:none; }
.popup_custom .popup_close a{ /*background:#EC594D;*/ background-image:url(../images/circle.png); font-size:20px; font-weight:bold; /*border-radius:50%; padding:10px;*/ color:#FFF; width:44px; height:44px; padding:11px 17px 13px 16px; background-repeat:no-repeat;  }
.popup_custom h2{ margin-bottom:20px; margin-top:10px; }
.popup_custom table tr td{ font-weight:bold; font-size:18px; }
.popup_custom table #tt_1{ background:#DCDBDB; }
.popup_custom table #tt_3{ background:#DCDBDB; }
.popup_custom table #tt_5{ background:#DBD9D9; }
.popup_custom table #tt_7{ background:#DBD9D9; }
.popup_custom table #tt_9{ background:#DBD9D9; }
.popup_custom table tr td{ padding:5px; }
tfoot{ z-index:9 !important; } 
#ex1{ top:-1% !important; }
#ex2{ top:-1% !important; }

@media only screen and (max-width:1024px) {
	.vercent{ margin-top:6%; }
	#conceptSldr .caption h2, .fdBnr .caption h2{ font-size:36px; }
	#food .caption h2{ font-size:36px; }
	#nutrition .caption h2{ font-size:36px; }
	#mapcanvas2{ height:350px !important; }
	#mapcanvas2 iframe{ height:350px !important; width:100%; }
	
	.subprd .dspCl{ vertical-align:top; }
	.subprd .dspCl img{ max-height:120px; max-width:auto !important; }
	.subprd .chose_first, .subprd .chose_second, .subprd .chose_third, .subprd .chose_fourth{ max-width:auto; }
	
}

@media only screen and (max-width:800px) {
	#locations #myCarousel .carousel-inner h3{ font-size:18px; } 
	#locations #myCarousel .carousel-inner p{ font-size:14px; } 
	
	.subprd .dspCl{ vertical-align:top; }
	.subprd .dspCl img{ max-height:120px; max-width:auto !important; }
	.subprd .chose_first, .subprd .chose_second, .subprd .chose_third, .subprd .chose_fourth{ max-width:auto; }
}

@media only screen and (max-width:767px) {
	.vercent{ margin-top:11%; }
	#conceptSldr .caption h2, .fdBnr .caption h2{ font-size:36px; }
	#food .caption h2{ font-size:36px; }
	#nutrition .caption h2{ font-size:36px; }
	#mapcanvas2{ height:350px !important; }
	#mapcanvas2 iframe{ height:350px !important; width:100%; }
	
	.subprd .dspCl{ vertical-align:top; }
	.subprd .dspCl img{ max-height:120px; max-width:auto !important; }
	.subprd .chose_first, .subprd .chose_second, .subprd .chose_third, .subprd .chose_fourth{ max-width:auto; }
	.recepie_img img{ width:80%; height:auto; }
}

@media only screen and (max-width:640px) {
	.vercent{ margin-top:1%; }
	
	.subprd .dspCl{ vertical-align:top; }
	.subprd .dspCl img{ max-height:100px; max-width:auto !important; }
	.subprd .chose_first, .subprd .chose_second, .subprd .chose_third, .subprd .chose_fourth{ max-width:auto; }
}

@media only screen and (max-width:401px) {
	.home_slider .item { height:382px !important; }
	.home_slider .item img{ height:382px !important; }
	
	.subprd .dspCl{ vertical-align:top; }
	.subprd .dspCl img{ max-height:100px; max-width:auto !important; }
	.subprd .chose_first, .subprd .chose_second, .subprd .chose_third, .subprd .chose_fourth{ max-width:auto; }
	
	.recepie_img a{ font-size:14px; }
	recepie_img a:hover{ font-size:14px; }
}

/*@media only screen and (max-width: 1200) and (min-width: 1080px) {
	.ext_tr{ display:none !important; }
	.ext_tr td{ height:0px !important; }
}*/

@media only screen and (max-width: 1366px) and (min-width: 1250px) {
	.nutrtnCalc h2{ margin-top:8%;  }
	.recepie_img{ margin-bottom:13%; }
}

@media only screen and (max-width: 1250px) and (min-width: 992px) {
	.nutrtnCalc h2{ margin-top:8%; }
	.recepie_img{ margin-bottom:16%; }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
	.hdr-socials{ margin-top: 18px; }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	.hdr-socials{ margin-top: 9px; }
}


@media only screen and (max-width: 1920px) and (min-width: 1280px) {
	.ntr-tblmn{ position:relative; padding-top:200px; }
	
	#nutrition .caption h2 a:focus{ outline:none; }
	
	table.calc-tbl thead {
		display:none;
	  	/*position: fixed;*/
		border-top:3px dashed #D0D0D0;
	  	background:#fff;
	  	z-index:100;
	  	width:100%;
	  	/*top:320px*/;
	}
	
	table.calc-tbl tr.rectr{
		display:none;
	}
	
	table.calc-tbl tr.total-row{
		display:none;
	}
	
	table.calc-tbl thead tr{
		background:#fff;
	}
	
	table.calc-tbl thead tr td{
		background:#fff;
		height:180px;
	}
	
	table.calc-tbl thead tr td.thead_first_td{
		width:330px;
	}

	
	table.calc-tbl tfoot {
		display:none;
	  	position: fixed;
	  	background:#fff;
	  	z-index:100;
	  	width:100%;
	  	bottom:0px;
	}
	
	table.calc-tbl tfoot tr.total-row{
		display:block;
	}
	/*table.calc-tbl tfoot tr.total-row .total_row_tr{
		min-width:330px;
		background:#000;
	}
	#z1, #z3, #z5, #z7, #z9{ background:#000; }*/
	table.calc-tbl tfoot tr td{
		height:150px;
	}
	table.calc-tbl tfoot tr.total-row td{
		height:55px;
	}
	table.calc-tbl tfoot tr td.thead_first_td{
		width:330px;
	}
	
	/*.prd-img img.img-responsive, .subprd .dspCl img{ width:auto  !important; height:100% !important; min-height:178px !important; min-width:177px !important; }*/
	
}

@media only screen and (max-width: 1280px) and (min-width: 1200px) {
	.td_img img{ width:36px; }
	.td_img { font-size:14px !important; }
	/*.calc-tbl td{ width:90px !important; }*/
	
	table.calc-tbl tfoot tr.total-row .total_row_tr{ min-width:245px; }
	
	.ntr-tblmn{ position:relative; padding-top:200px; }
	
	#nutrition .caption h2 a:focus{ outline:none; }
	
	table.calc-tbl thead {
		display:none;
		border-top:3px dashed #D0D0D0;
	  	background:#fff;
	  	z-index:100;
	  	width:100%;
	}
	
	table.calc-tbl tr.rectr{
		display:none;
	}
	
	table.calc-tbl tr.total-row{
		display:none;
	}
	
	table.calc-tbl thead tr{
		background:#fff;
	}
	
	table.calc-tbl thead tr td{
		background:#fff;
		height:180px;
	}
	
	table.calc-tbl thead tr td.thead_first_td{
		width:250px;
	}

	
	table.calc-tbl tfoot {
		display:none;
	  	position: fixed;
	  	background:#fff;
	  	z-index:100;
	  	width:100%;
	  	bottom:0px;
	}
	
	table.calc-tbl tfoot tr.total-row{
		display:block;
	}

	table.calc-tbl tfoot tr td{
		height:150px;
	}
	table.calc-tbl tfoot tr.total-row td{
		height:55px;
		width:90px;
	}
	table.calc-tbl tfoot tr.total-row td.odd{
		height:55px;
		width:110px;
	}
	
	table.calc-tbl tfoot tr.new_footer_row td.foot_cls{
		min-width:110px;
	}
	
	.sp_1{  padding-left:46%; }
	.sp_2{  padding-left:43%; }
	.sp_3{  padding-left:14%; }
	.sp_4{  padding-left:40%; }
	.sp_5{  padding-left:8%; }
	.sp_6{  padding-left:53%; }
	.sp_7{  padding-left:10%; }
	.sp_8{  padding-left:15%; }
	.sp_9{  padding-left:69%; }		
	
	table.calc-tbl tfoot tr td.thead_first_td{
		width:250px;
	}
	
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
	.td_img img{ width:36px; }
	.td_img { font-size:13px !important; }
	.calc-tbl td{ min-width:80px; width:80px; }
	
	table.calc-tbl tfoot tr.total-row .total_row_tr{ min-width:220px; }
	
	.ntr-tblmn{ position:relative; padding-top:200px; }
	
	#nutrition .caption h2 a:focus{ outline:none; }
	
	table.calc-tbl thead {
		display:none;
	  	/*position: fixed;*/
		border-top:3px dashed #D0D0D0;
	  	background:#fff;
	  	z-index:100;
	  	width:100%;
	  	/*top:320px*/;
	}
	
	table.calc-tbl tr.rectr{
		display:none;
	}
	
	table.calc-tbl tr.total-row{
		display:none;
	}
	
	table.calc-tbl thead tr{
		background:#fff;
	}
	
	table.calc-tbl thead tr td{
		background:#fff;
		height:180px;
	}
	
	table.calc-tbl thead tr td.thead_first_td{
		width:150px;
	}

	
	table.calc-tbl tfoot {
		display:none;
	  	position: fixed;
	  	background:#fff;
	  	z-index:100;
	  	width:100%;
	  	bottom:0px;
	}
	
	table.calc-tbl tfoot tr.total-row{
		display:block;
	}
	/*table.calc-tbl tfoot tr.total-row .total_row_tr{
		min-width:330px;
		background:#000;
	}
	#z1, #z3, #z5, #z7, #z9{ background:#000; }*/
	table.calc-tbl tfoot tr td{
		height:150px;
	}
	table.calc-tbl tfoot tr.total-row td{
		height:55px;
	}
	table.calc-tbl tfoot tr td.thead_first_td{
		width:150px;
	}
	
	.dtl-ic {
		background: #ec594d none repeat scroll 0 0;
		border-radius: 50%;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		height: 16px;
		line-height: 16px;
		margin-bottom: 14px;
		margin-top: 12px;
		text-align: center;
		width: 16px;
	}
	
	.add-ic {
		color: #ec594d;
		cursor: pointer;
		display: inline-block;
		font-size: 22px;
		padding: 0 5px;
		vertical-align: middle;
	}
	
	/*.prd-img img.img-responsive, .subprd .dspCl img{ width:auto  !important; height:100% !important; min-height:178px !important; min-width:177px !important; }*/
	
}

@media only screen and (max-width:991px) {
	.ext_tr{ display:none !important; }
	tfoot{ cursor:pointer; }
	.td_desc{ display:none; }
	.new_footer_row{ display:none !important; }
	thead{ display:none !important; }
	#z2, #z3, #z4, #z5, #z6, #z7, #z8, #z9{ display:none !important; }
}

@media only screen and (max-width:767px) {
	.td_img{ max-width:767px; }
	.td_desc{ display:none; }
	.new_footer_row{ display:none !important; }
	thead{ display:none !important; }
	#z2, #z3, #z4, #z5, #z6, #z7, #z8, #z9{ display:none !important; }
	
	.blocker::before{ vertical-align:top !important; height:auto !important; }
	.blocker{ /*top:5% !important;*/ }
}

@media only screen and (max-width:440px) {
	table.calc-tbl tfoot tr.total-row .total_row_tr{ min-width:200px; }
	.td_img{ max-width:440px; }
	.calc-tbl td{ font-size:14px; }
	#z1{ max-width:90px; }
	.total-plus{ height: 14px; line-height: 14px; width:14px; margin-bottom:0px; margin-top:0px; vertical-align:middle; }
}

@media only screen and (max-width:360px) {
	.calc-tbl td { font-size:10px; }
	.total-plus{ height: 14px; line-height: 14px; width:14px; margin-bottom:0px; margin-top:0px; vertical-align:middle; }
}